* {
    margin: 0;
    padding: 0;
    font-family: Verdana;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choice {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text { 
    display: flex;
    align-items: center;
    justify-content: center;
}
button {
    padding: 10px 20px;
    margin: 10px 20px;
    width: 150px;
    border-radius: 10px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom {
    display: flex;
    justify-content: space-between;
}